:root {
  --grid-width: min(8vh, 7.5vw);
  --grid-columns: 12;
  --animation-speed: 0.5s;
  color: white;
}

.cell {
  aspect-ratio: 1 / 1;
  height: var(--grid-width);
}

.rot0 {
  transform: rotate(0deg);
}

.rot90 {
  transform: rotate(90deg);
}

.rot180 {
  transform: rotate(180deg);
}

.rot270 {
  transform: rotate(270deg);
}

.wall-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.wall {
  height: inherit;
  display: block;
}

.wall0 {
  transform: rotate(0deg);
}

.wall1 {
  transform: rotate(90deg);
}

.wall2 {
  transform: rotate(180deg);
}

.wall3 {
  transform: rotate(270deg);
}

.grid {
  border: 5px solid black;
  border-radius: 5px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), auto);
  width: fit-content;
  margin: auto;
  position: relative;
}

.texture {
  width: inherit;
  height: inherit;
}

.robot-img {
  --x-position: 0;
  --y-position: 0;
  aspect-ratio: 1 / 1;
  width: var(--grid-width);
  position: absolute;
  z-index: 2;
  left: calc(var(--x-position) * var(--grid-width));
  top: calc(var(--y-position) * var(--grid-width));
  transition: left, top, transform;
  transition-duration: var(--animation-speed);
}

.red-border {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
}

.green-border {
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 50%;
}

.blue-border {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 50%;
}

.red {
  background-color: rgb(165 70 70 / 0.8);
}

.green {
  background-color: rgb(67 158 67 / 0.8);
}

.blue {
  background-color: rgb(89 89 172 / 0.8);
}

.background-blur {
  backdrop-filter: blur(2px);
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 10px gray;
}

.robot-laser {
  --x-position: 0;
  --y-position: 0;
  --hit-x: 0;
  --hit-y: 0;
  position: absolute;
  height: var(--grid-width);
  z-index: 1;
  animation: --robot-laser 1s linear infinite;
}

@keyframes --robot-laser {
  from {left: calc((var(--x-position) + 0.5) * var(--grid-width)); top: calc(var(--y-position) * var(--grid-width));}
  to {left: calc((var(--hit-x) + 0.5) * var(--grid-width)); top: calc(var(--hit-y) * var(--grid-width));}
}

.hidden {
  display: none;
}

.btn {
  width: fit-content;
  height: fit-content;
  background-color: green;
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  color: white;
  font-size: 20px;
  padding: 12px;

  &:hover {
    background-color: forestgreen;
  }
  &:active {
    background-color: darkgreen;
  }
}

.active {
  background-color: #265526;
}

.btn-start {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.ui {
  margin-left: auto;
  flex-grow: 1;
}

#root {
  display: flex;
  height: 100%;
  gap: 10px;
  @media (max-width: 1300px) {
    flex-wrap: wrap;
  }
}

html{
  min-height: 100%;
  background-image: url("./assets/floor.png");
  background-repeat: round;
}

body {
  min-height: 100%;
}

.card {
  border: solid black 2px;
  border-radius: 15px;
  padding: 5px 10px 10px;
  text-align: center;
  background-color: green;
  width: 90px;
  color: white;
  box-shadow: 5px 5px 5px black;

  img {
    max-width: 90px;
    aspect-ratio: 1 / 1;
    margin-top: 3px;
  }
  h4 {
    margin: 0;
  }
}

.card-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  justify-content: center;
}

.column {
  min-width: 300px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  border: solid black 2px;
  border-radius: 15px;
  margin: auto auto 15px;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.outer {
  --color: white;
  background-color: lightseagreen;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  filter: drop-shadow(1px 1px 1px black);
}

.card-arrow {
  display: grid;

  * {
    aspect-ratio: 1 / 1;
    filter: drop-shadow(1px 1px 1px black);
  }
}

.head {
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
}

.card-arrow-right {
  grid-template-columns: 1fr 1fr;
  padding-left: 15px;
  padding-bottom: 15px;
  translate: 5px 5px;

  .arrow-spacer {
    height: calc(100% - 7px);
  }

  .arrow-right {
    border-top-left-radius: 100%;
    border-top: solid var(--color) 7px;
    border-left: solid var(--color) 7px;
  }

  .arrow-head {
    border-left-color: var(--color);
    grid-row: span 2;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.card-arrow-left {
  grid-template-columns: 1fr 1fr;
  padding-right: 15px;
  padding-bottom: 15px;
  translate: -5px 5px;

  .arrow-spacer {
    height: calc(100% - 7px);
  }

  .arrow-left {
    border-top-right-radius: 100%;
    border-top: solid var(--color) 7px;
    border-right: solid var(--color) 7px;
  }

  .arrow-head {
    border-right-color: var(--color);
    grid-row: span 2;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.card-arrow-u {
  grid-template-columns: 1fr 1fr;
  translate: -7px 5px;

  .arrow-left {
    border-top-right-radius: 100%;
    border-top: solid var(--color) 7px;
    border-right: solid var(--color) 7px;
    margin-top: 15px;
    margin-right: 15px;
  }

  .arrow-right {
    border-top-left-radius: 100%;
    border-top: solid var(--color) 7px;
    border-left: solid var(--color) 7px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .arrow-head {
    border-top-color: var(--color);
    grid-column: span 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}


.card-arrow-up {
  grid-template-columns: 1fr;
  translate: 0 -5px;

  .arrow-up {
    border-right: solid var(--color) 7px;
    margin-right: calc(50% - 3px);
  }

  .arrow-head {
    border-bottom-color: var(--color);
    grid-row: span 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
}

.card-arrow-down {
  grid-template-columns: 1fr;
  translate: 0 15px;

  .arrow-up {
    border-right: solid var(--color) 7px;
    margin-right: calc(50% - 3px);
    margin-top: auto;
  }

  .arrow-head {
    border-top-color: var(--color);
    grid-row: span 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}
